@font-face {
    font-family: fontawesome;
    src: url('fonts/Font\ Awesome\ 5\ Free-Regular-400.otf');
}

@font-face {
    font-family: fontawesome;
    src: url('fonts/Font\ Awesome\ 5\ Free-Solid-900.otf');
    font-weight: bold;
}

@font-face {
    font-family: fontawesome-brand;
    src: url('fonts/Font\ Awesome\ 5\ Brands-Regular-400.otf');
}

@font-face {
    font-family: he-serif;
    src: url('fonts/SBL_Hbrw.ttf');
}

@font-face {
    font-family: he-sans;
    src: url('fonts/SourceHebrewSans-Light.otf');
}

@font-face {
    font-family: zh-serif;
    src: url('fonts/SourceHanSerif-Light.ttc');
}

@font-face {
    font-family: zh-sans;
    src: url('fonts/SourceHanSans-Light.ttc');
}

.lang-he {
    font-family: he-serif;
    direction: rtl;
}

body {
    font-family: zh-serif;
}